body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.F {
  background-color: #ff8844;
  color: black;
  height: 26px;
}

.G {
  background-color: #88aaff;
  color: black;
  height: 26px;
}

.innerFG {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
}

.R {
  height: 26px;
}

.buttonDown {
  border: 3px solid red !important;
}

.buttonCommonBits {
  height: 78px;
  width: 79px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}

.buttonF {
  .buttonCommonBits();

  background: #ff8844;
}

.buttonG {
  .buttonCommonBits();

  background: #88aaff;
}

.calcbutton {
  .buttonCommonBits();

  background: #333;
  color: #fff;
}

.display {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  background: #222222;
  border: 1px solid black;
  border-radius: 4px;
  width: 132px;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}
