.F {
  background-color: #ff8844;
  color: black;
  height: 26px;
}

.G {
  background-color: #88aaff;
  color: black;
  height: 26px;
}

.innerFG {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
}
.R {
  height: 26px;
}

.buttonF {
  height: 78px;
  width: 79px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;

  background: #ff8844;
}

.buttonG {
  height: 78px;
  width: 79px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;

  background: #88aaff;
}

.calcbutton {
  height: 78px;
  width: 79px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;

  background: #333;
  color: #fff;
}
