@fcolor: #ff8844;
@gcolor: #88aaff;
@radius: 8px;
@border: 3px;
@fg-height: 16px;
@fg-font-size: 12px;

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.FGcommon {
  color: black;
  height: @fg-height;
  font-size: @fg-font-size;
}
.F {
  background-color: @fcolor;
  .FGcommon();
}

.G {
  background-color: @gcolor;
  .FGcommon();
  position: absolute;
  bottom: 0px;
  display: block;
  width: 80px;
}

.innerFG {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
}

.R {
  height: 46px;
}

.buttonDown {
  border: @border solid red !important;
}

.buttonDownEnter1 {
  border-top: @border solid red !important;
  border-right: @border solid red !important;
  border-left: @border solid red !important;
}
.buttonDownEnter2 {
  border-right: @border solid red !important;
  border-left: @border solid red !important;
  border-bottom: @border solid red !important;
}
.buttonCommonWithoutBorder {
  height: 78px;
  width: 79px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}

.buttonCommonBits {
  .buttonCommonWithoutBorder();
  border: @border solid black;
  border-radius: @radius;
  overflow: hidden;
  display: inline-block;
}

.buttonF {
  .buttonCommonBits();

  background: @fcolor;
}

.buttonG {
  .buttonCommonBits();

  background: @gcolor;
}

.calcbutton {
  .buttonCommonBits();
  line-height: 13px;
  background: #333;
  color: #fff;
}

.button-enter {
  .calcbutton();
  height: 168px !important;
}

.buttonBox {
  height: 360px;
  width: 900px;
  position: relative;
}

.display {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background: #222222;
  border: 1px solid black;
  border-radius: 4px;
  width: 208px;

  display: inline-block;
  padding: 2px;
  margin: 2px;
}
.regDisplay {
  .display();
  width: 112px;
}

.displayInsn {
  .display();
  width: 130px;
}
.buttonBox {
  line-height: 0;
}

.button-enter-bottom .G {
  top: 65px;
  left: 0;
  position: relative;
}

#displayX {
  display: inline;
}

.finreg {
  display: inline;
}
